{% extends 'layout.html' %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-5">
		<h5>Clients:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Créer Un Client</a>
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Télephone</th>
					<th>Date</th>
					<th>Details</th>
				</tr>
				{% for client in clients %}
				<tr>
					<td> {{client.id}} </td>
					<td> {{client.nom}} </td>
					<td> {{client.telephone}} </td>
					<td> {{client.date_creation}} </td>
					<td><a class="btn btn-sm btn-info" href="{% url 'client' client.id %}"> Details</a> </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Les 5 Dernières Comamndes</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'add_Commande' %}">Ajouter une Commande</a>
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>Produit</th>
					<th>Client</th>
					<th>Statut</th>
					<th>Date de la commande</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				{% for commande in commandes %}
				<tr>
					<td>{{commande.id}}</td>
					<td>{{commande.produit}}</td>
					<td>{{commande.client}}</td>
					<td>{{commande.status}}</td>
					<td>{{commande.date_creation}}</td>
					<td><a href="{% url 'edit_Commande' commande.id %}" class="btn btn-primary">Edit</a></td>
					<td><a href="{% url 'deletec' commande.id %}" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
			<!-- Modal -->
			<div class="modal  modal-sm" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						
						<div class="modal-body">
							Vouvez-vous vraiment le supprimer
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
							<button  type="button" class="btn btn-danger">Supprimer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


{% endblock content%}